*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 16px;
    --dark: #252422;
    --orange: #FF5500;
    --white: #FFFFFF;
    --white2: #FFFCF2;
    --violet: #B88ED7;
    --green: #76C893;
    --gray: #D9D9D9;
    --black: #000000;
    --yellow: #FFF500;
}

a{
    color: inherit;
    text-decoration: none;
    
}

/* CONTAINER */

#container{
    width: 100vw;
    font-family: articulat-cf, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--white2);
}

/* MAIN NAV */

.main-nav{
    background-color: var(--dark);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

.jazz-logo{
    width: 5rem;
    max-height: auto;
    padding: 1rem;
}

/* BURGER MENU */

.burger{
    color: white;
    margin: 0.5rem 1.5rem 0.5rem 0;
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transform: scale(1.5);
}

.burger.active{
opacity: 1;
}

.main-ul.active{
    left: 0%;
    z-index: 50;
}

.main-ul > li:hover {
    transition: all 0.5s;
    color: var(--yellow);
    text-decoration: underline var(--yellow);
}

body.active{
    overflow: hidden;
}



/* MAIN UL */

.main-ul{
    color: var(--white2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    position: fixed;
    left: -100%;
    top: 4rem;
    height: 100vh;
    background-color: var(--dark);
    text-align: center;
    transition: 0.3s;
    z-index: 50;

}

li{
    list-style-type: none;
    margin: 3rem auto;
    cursor: pointer;
}

.first-li{
    margin-top: 5rem;
}


/* SHOP SECTION */

#shop{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: var(--dark);
    overflow: hidden;
}


/* SHOP TITLE */

.shop-h2{
    width: 100%;
    font-size: 2.5rem;
    margin: 4rem 0 1rem 3rem;
    padding: 0 0.5rem 0.5rem 0;
    color: var(--dark);
    text-align: left;
}

/* GRID */

#shop-grid{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(16, 1fr);
    row-gap: 5rem;
    justify-content: center;
    align-content: center;
    margin: 3rem auto;
    text-align: center;
    overflow: hidden;
    padding: 1rem;
}

.inside-template:nth-child(even){
    border-left: 1px solid var(--dark);
}

.inside-template:nth-child(odd){
    border-right: 1px solid var(--dark);
}



/* SHOP INDIVIDUAL CARD */

.inside-template{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* SHOP ALBUM IMAGE */

.template-img{
    width: 15rem;
    height: 15rem;
    filter: drop-shadow(2px 4px 6px var(--dark));
    cursor: pointer;

}

.all-but-img{
    height: 30%;
    width: 50%;
    margin: 1rem 0;

}

/* NEW RELEASES BAND NAME */

.new-release-band{
    color: var(--gray);
    text-align: center;
}

/* NEW RELEASES PRICE AND ALBUM DIV */

.template-price-album{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 30%;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    font-size: 1rem;

}



/* FOOTER */

footer{
    background-color: var(--dark);
    color: var(--white2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.footer-address{
    margin-top: 2rem;
}

footer > p {
    padding: 2rem;
    font-size: 1rem;
    line-height: 1.5;
}

.social-icons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2rem;
    justify-content: space-between;
    width: 60%;
}

.social-icons > i {
    transform: scale(2);
    cursor: pointer;
}

.jazzCup-footer{
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

.student-project{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    margin-bottom: 3rem;
}

.student-project > span{
    padding-left: 1rem;
}


/* 500PX MEDIA QUERY */

@media only screen and (min-width: 500px){

    /* BURGER MENU */

.burger{
    color: white;
    margin: 0.5rem 1.5rem 0.5rem 0;
    display: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transform: scale(1.5);
}

.burger.active{
opacity: 1;
}

.main-ul.active{
    left: 0%;
    z-index: 50;
}

.main-ul > li:hover {
    transition: all 0.5s;
    color: var(--yellow);
    text-decoration: underline var(--yellow);
}

body.active{
    overflow: hidden;
}

.jazz-logo{
    width: 5rem;
    max-height: auto;
    padding: 1rem;

}





/* MAIN UL */

.main-ul{
    color: var(--white2);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    font-size: 1rem;
    padding: 0.5rem;
    position: relative;
    left: 0%;
    top: 0;
    height: 100%;
    background-color: transparent;
    text-align: center;
    transition: none;
    z-index: 50;
}

li{
    list-style-type: none;
    margin: 0rem auto;
    cursor: pointer;
}

.first-li{
    margin-top: 0rem;
}

/* FOOTER */

footer{
    background-color: var(--dark);
    color: var(--white2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-icons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2rem;
    justify-content: space-between;
    max-width: 40%;
}

}

/* 800PX MEDIA QUERY */

@media only screen and (min-width: 800px){
    /* GRID */

#shop-grid{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    row-gap: 5rem;
    justify-content: center;
    align-content: center;
    margin: 3rem auto;
    text-align: center;
    overflow: hidden;
    padding: 1rem;
}

.inside-template:nth-child(even){
    border-left: none;
}

.inside-template:nth-child(odd){
    border-right: none;
}



/* SHOP INDIVIDUAL CARD */

.inside-template{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* SHOP ALBUM IMAGE */

.template-img{
    width: 15rem;
    height: 15rem;
    filter: drop-shadow(2px 4px 6px var(--dark));
    cursor: pointer;

}
}