*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 16px;
    --dark: #252422;
    --orange: #FF5500;
    --white: #FFFFFF;
    --white2: #FFFCF2;
    --violet: #B88ED7;
    --green: #76C893;
    --gray: #D9D9D9;
    --black: #000000;
    --yellow: #FFF500;
}

a{
    color: inherit;
    text-decoration: none;
    
}

/* CONTAINER */

#container{
    width: 100vw;
    font-family: articulat-cf, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--white2);
}

/* MAIN NAV */

.main-nav{
    background-color: var(--dark);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

.jazz-logo{
    width: 5rem;
    max-height: auto;
    padding: 1rem;
}

/* BURGER MENU */

.burger{
    color: white;
    margin: 0.5rem 1.5rem 0.5rem 0;
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transform: scale(1.5);
}

.burger.active{
opacity: 1;
}

.main-ul.active{
    left: 0%;
    z-index: 50;
}

.main-ul > li:hover {
    transition: all 0.5s;
    color: var(--yellow);
    text-decoration: underline var(--yellow);
}

body.active{
    overflow: hidden;
}



/* MAIN UL */

.main-ul{
    color: var(--white2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    position: fixed;
    left: -100%;
    top: 3.5rem;
    height: 100vh;
    background-color: var(--dark);
    text-align: center;
    transition: 0.3s;
    z-index: 50;
   
}

li{
    list-style-type: none;
    margin: 3rem auto;
    cursor: pointer;
}

.first-li{
    margin-top: 5rem;
}

/* HERO SECTION */

#hero{
    width: 100vw;
    height: 55vh;
    background-color: var(--white2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    background: url('../img/landing.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jazz-h1{
    display: block;
    width: 80%;
    font-size: 2.5rem;
    text-align: center;
    margin: 5rem auto 0 auto;
    z-index: 10;
    color: var(--white2);
    font-family: articulat-heavy-cf, sans-serif;
    font-weight: 900;
    font-style: normal;
}

.hero-btn{
    padding: 0.5rem 2rem;
    border-radius: 30px;
    color: var(--dark);
    background-color: var(--yellow);
    border: none;
    cursor: pointer;
}

.hero-btn:hover{
    transition: all 0.5s;
    color: var(--white2);
    background-color: var(--dark);
}


/* NEW RELEASES SECTION */

#new-releases{
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--dark);
}

.releases-title-div{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin: 1rem auto;
}

/* NEW RELEASES TITLE */

.releases-h3{
    font-size: 1.5rem;
    margin-left: 1rem;
    padding: 0 0.5rem 0.5rem 0;
    margin-top: 2rem;
    color: var(--dark);
}

.releases-arrow{
    cursor: pointer;
}

/* NEW RELEASES TEMPLATE */

.template-article{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    margin: 0rem 0 0 0;
}

/* NEW RELEASES INDIVIDUAL CARD */

.inside-template{
    display: inline-block;
    
    flex-direction: column;
    height: 100%;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* NEW RELEASES ALBUM IMAGE */

.template-img{
    max-width: 80%;
    height: 50%;
    filter: drop-shadow(2px 4px 6px var(--dark));
    cursor: pointer;
}

.all-but-img{
    height: 50%;
    max-width: 80%;
    margin: 1rem 0;

}

/* NEW RELEASES BAND NAME */

.new-release-band{
    color: var(--gray);
    text-align: center;
}

/* NEW RELEASES PRICE AND ALBUM DIV */

.template-price-album{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 50%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem auto;
    font-size: 1rem;

}

/* UPCOMING EVENTS SECTION */

#events{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--dark);
}

/* UPCOMING EVENTS H2 + ARROW */

.upcoming-events-div{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin: 1rem auto 3rem auto;
}

.events-h2{
    font-size: 1.5rem;
    margin-left: 1rem;
    padding: 0 0.5rem 0.5rem 0;
    margin-top: 2rem;
    color: var(--dark);
}

.events-arrow{
    cursor: pointer;
}

/* EVENTS OL */

.events-ol{
    padding: 0;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* EVENTS LI */

.events-li {
    list-style-type: none;
    text-decoration: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0rem auto;
    border-top: 0.5px solid var(--dark);
    padding-top: 1rem;
    padding-right: 1rem;
    padding: 1rem 1.5rem;
}

/* EVENTS LI DIV (DATE + ARROW) */

.events-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.events-date{
    display: inline-flex;
    font-size: 1rem;
    
}

.events-artist{
    display: inline-flex;
    font-size: 1rem;
    margin-right: 0.5rem;
    margin: 1rem 0.5rem 0 0;
}

/* MODAL 1 */

#openModal1{
    background-color: transparent;
    border: none;
}

#openModal1:hover{
    cursor: pointer;
}

.modal1Content{
    display: none;
    margin: 2rem auto;
    width: 100%;
    padding-bottom: 2rem;
}

.info-close1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.modal1-info{
    width: 70%;
}

.modal1-btns{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin: 1rem auto;
}

.info-btn{
    background-color: transparent;
    border: 1px solid var(--dark);
    margin-bottom: 1rem;
}

.info-btn:hover{
    cursor: pointer;
    background-color: var(--dark);
    color: var(--white2);
}

.buy-btn{
    background-color: var(--dark);
    color: var(--yellow);
}

.buy-btn:hover{
    background-color: var(--yellow);
    color: var(--dark);
    cursor: pointer;
    border: 1px solid var(--dark);
}

.modal1-btns > button {
    padding: 0.5rem 1.5rem;
    width: 10rem;
    border-radius: 30px;
}

.btn-span{
    padding-right: 2rem;
}

.price{
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
}

#closeModal1{
    background-color: transparent;
    padding: 0.5rem;   
}

#closeModal1:hover{
    cursor: pointer;
}

/* MODAL 2 */

#openModal2{
    background-color: transparent;
    border: none;
}

#openModal2:hover{
    cursor: pointer;
}

.modal2Content{
    display: none;
    margin: 2rem auto;
    width: 100%;
    padding-bottom: 2rem;
}

.info-close2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.modal2-info{
    width: 70%;
}

.modal2-btns{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin: 1rem auto;
}

.info-btn{
    background-color: transparent;
    border: 1px solid var(--dark);
}

.info-btn:hover{
    cursor: pointer;
    background-color: var(--dark);
    color: var(--white2);
}

.buy-btn{
    background-color: var(--dark);
    color: var(--yellow);
}

.buy-btn:hover{
    background-color: var(--yellow);
    color: var(--dark);
    cursor: pointer;
    border: 1px solid var(--dark);
}

.modal2-btns > button {
    padding: 0.5rem 1.5rem;
    width: 10rem;
    border-radius: 30px;
}

.btn-span{
    padding-right: 2rem;
}

#closeModal2{
    background-color: transparent;
    padding: 0.5rem;   
}

#closeModal2:hover{
    cursor: pointer;
}


/* MODAL 3 */

#openModal3{
    background-color: transparent;
    border: none;
}

#openModal3:hover{
    cursor: pointer;
}

.modal3Content{
    display: none;
    margin: 2rem auto;
    width: 100%;
    padding-bottom: 2rem;
}

.info-close3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.modal3-info{
    width: 70%;
}

.modal3-btns{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin: 1rem auto;
}

.info-btn{
    background-color: transparent;
    border: 1px solid var(--dark);
}

.info-btn:hover{
    transition: all 0.5s;
    cursor: pointer;
    background-color: var(--dark);
    color: var(--white2);
}

.buy-btn{
    background-color: var(--dark);
    color: var(--yellow);
    border: none;
}

.buy-btn:hover{
    transition: all 0.5s;
    background-color: var(--white2);
    color: var(--dark);
    cursor: pointer;
    border: 1px solid var(--dark);
}

.modal3-btns > button {
    padding: 0.5rem 1.5rem;
    width: 10rem;
    border-radius: 30px;
}

.btn-span{
    padding-right: 2rem;
}

#closeModal3{
    background-color: transparent;
    padding: 0.5rem;   
}

#closeModal3:hover{
    cursor: pointer;
}


/* FOOTER */

footer{
    background-color: var(--dark);
    color: var(--white2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.footer-address{
    margin-top: 2rem;
}

footer > p {
    padding: 2rem;
    font-size: 1rem;
    line-height: 1.5;
}

.social-icons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2rem;
    justify-content: space-between;
    width: 60%;
}

.social-icons > i {
    transform: scale(2);
    cursor: pointer;
}

.jazzCup-footer{
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

.student-project{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    margin-bottom: 3rem;
}

.student-project > span{
    padding-left: 1rem;
}

/* 500PX MEDIA QUERY */

@media only screen and (min-width: 500px){

    /* BURGER MENU */

.burger{
    color: white;
    margin: 0.5rem 1.5rem 0.5rem 0;
    display: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transform: scale(1.5);
}

.burger.active{
opacity: 1;
}

.main-ul.active{
    left: 0%;
    z-index: 50;
}

.main-ul > li:hover {
    transition: all 0.5s;
    color: var(--yellow);
    text-decoration: underline var(--yellow);
}

body.active{
    overflow: hidden;
}

.jazz-logo{
    width: 5rem;
    max-height: auto;
    padding: 1rem;

}



/* MAIN UL */

.main-ul{
    color: var(--white2);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    font-size: 1rem;
    padding: 0.5rem;
    position: relative;
    left: 0%;
    top: 0;
    height: 100%;
    background-color: transparent;
    text-align: center;
    transition: none;
    z-index: 50;
}

li{
    list-style-type: none;
    margin: 0rem auto;
    cursor: pointer;
}

.first-li{
    margin-top: 0rem;
}




/* NEW RELEASES INDIVIDUAL CARD */

.inside-template{
    display: inline-block;
    
    flex-direction: column;
    height: 100%;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* FOOTER */

footer{
    background-color: var(--dark);
    color: var(--white2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-icons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2rem;
    justify-content: space-between;
    max-width: 40%;
}

}

/* 800PX MEDIA QUERY */
/* 800PX MEDIA QUERY */
/* 800PX MEDIA QUERY */

@media only screen and (min-width: 800px){

    .jazz-h1{
        display: block;
        width: 80%;
        font-size: 4rem;
        text-align: center;
        margin: 5rem auto 0 auto;
        z-index: 10;
        color: var(--white2);
        font-family: articulat-heavy-cf, sans-serif;
        font-weight: 900;
        font-style: normal;
    }
    
    .hero-btn{
        padding: 0.5rem 2rem;
        border-radius: 30px;
        color: var(--dark);
        background-color: var(--yellow);
        border: none;
        cursor: pointer;
        font-size: 1.5rem;
    }

    /* NEW RELEASES INDIVIDUAL CARD */

    .inside-template{
        display: inline-block;
        flex-direction: column;
        height: 100%;
        width: 40vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
}

    /* UPCOMING EVENTS H2 + ARROW */

    .upcoming-events-div{
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        margin: 0rem auto 3rem auto;
}

    .events-h2{
        font-size: 1.5rem;
        margin-left: 1rem;
        padding: 0 0.5rem 0.5rem 0;
        margin-top: 0rem;
        color: var(--dark);
}


.modal1-btns{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 1rem auto;
}

.modal2-btns{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 1rem auto;
}

.modal3-btns{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 1rem auto;
}


}

